# **Feature engineering my crypto data**

In this *notebook*, I will add some important *features* to my data, that initially has only *prices* (close, high, low and open) and *volume*, which doesn't offer that much info to train a model to predict future prices.

In [1]:
import pandas as pd
import numpy as np

Let's load and have a peak into our data

In [2]:
btc = pd.read_csv('coins_data/btc.csv')
eth = pd.read_csv('coins_data/eth.csv')
sol = pd.read_csv('coins_data/sol.csv')
bnb = pd.read_csv('coins_data/bnb.csv')
eth.head(10)

,Price,Close,High,Low,Open,Volume
0,Ticker,ETH-USD,ETH-USD,ETH-USD,ETH-USD,ETH-USD
1,Date,NaN,NaN,NaN,NaN,NaN
2,2017-11-09,320.8840026855469,329.4519958496094,307.0559997558594,308.6449890136719,893249984
3,2017-11-10,299.25299072265625,324.7179870605469,294.5419921875,320.6709899902344,885985984
4,2017-11-11,314.6809997558594,319.4530029296875,298.1919860839844,298.58599853515625,842300992
5,2017-11-12,307.9079895019531,319.15301513671875,298.51300048828125,314.69000244140625,1613479936
6,2017-11-13,316.71600341796875,328.4150085449219,307.0249938964844,307.0249938964844,1041889984
7,2017-11-14,337.6310119628906,340.177001953125,316.76300048828125,316.76300048828125,1069680000
8,2017-11-15,333.35699462890625,340.9119873046875,329.81298828125,337.9639892578125,722665984
9,2017-11-16,330.92401123046875,336.15899658203125,323.6059875488281,333.4429931640625,797254016

It seems that our data needs some cleaning

In [3]:
columns = ['Date', 'Close', 'High', 'Low', 'Open', 'Volume']

btc = btc[2:]
eth = eth[2:]
sol = sol[2:]
bnb = bnb[2:]

btc.columns = columns
eth.columns = columns
sol.columns = columns
bnb.columns = columns

btc.reset_index(inplace=True)
eth.reset_index(inplace=True)
sol.reset_index(inplace=True)
bnb.reset_index(inplace=True)

btc.head()

,index,Date,Close,High,Low,Open,Volume
0,2,2014-09-17,457.3340148925781,468.17401123046875,452.4219970703125,465.864013671875,21056800
1,3,2014-09-18,424.44000244140625,456.8599853515625,413.10400390625,456.8599853515625,34483200
2,4,2014-09-19,394.7959899902344,427.8349914550781,384.5320129394531,424.1029968261719,37919700
3,5,2014-09-20,408.90399169921875,423.2959899902344,389.88299560546875,394.6730041503906,36863600
4,6,2014-09-21,398.8210144042969,412.4259948730469,393.1809997558594,408.0849914550781,26580100

In [4]:
eth.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2691 entries, 0 to 2690
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   2691 non-null   int64
 1   Date    2691 non-null   object
 2   Close   2691 non-null   object
 3   High    2691 non-null   object
 4   Low     2691 non-null   object
 5   Open    2691 non-null   object
 6   Volume  2691 non-null   object
dtypes: int64(1), object(6)
memory usage: 147.3+ KB

It seems all good now!

## **1. Moving averages (MA)**

The first feature we'll 'engineer', is moving averages.

Moving averages in crypto trading smooth out price data to identify trends by calculating the average price over a specific period. They help traders spot potential buy/sell signals, support/resistance levels, and trend reversals.

### **a. 3-day MA**

We'll start with a 3 day moving average, which is the average of the previous 3 days prices, we'll go with the closing price

In [5]:
#Starting with bitcoin

btc['Close'] = pd.to_numeric(btc['Close'], errors='coerce')
btc['3d-MA'] = np.nan

btc.loc[0, '3d-MA'] = 0
btc.loc[1, '3d-MA'] = btc.loc[0, 'Close']
btc.loc[2, '3d-MA'] = 0.5 * (btc.loc[0, 'Close'] + btc.loc[1, 'Close'])

for i in range(3, len(btc)):
    btc.loc[i, '3d-MA'] = (1/3) * (btc.loc[i-1, 'Close'] + btc.loc[i-2, 'Close'] + btc.loc[i-3, 'Close'])
    
btc.head()

,index,Date,Close,High,Low,Open,Volume,3d-MA
0,2,2014-09-17,457.334015,468.17401123046875,452.4219970703125,465.864013671875,21056800,0.000000
1,3,2014-09-18,424.440002,456.8599853515625,413.10400390625,456.8599853515625,34483200,457.334015
2,4,2014-09-19,394.795990,427.8349914550781,384.5320129394531,424.1029968261719,37919700,440.887009
3,5,2014-09-20,408.903992,423.2959899902344,389.88299560546875,394.6730041503906,36863600,425.523336
4,6,2014-09-21,398.821014,412.4259948730469,393.1809997558594,408.0849914550781,26580100,409.379995

And now to do the same for ETH, SOL and BNB:

In [6]:
eth['Close'] = pd.to_numeric(eth['Close'], errors='coerce')
eth['3d-MA'] = np.nan

eth.loc[0, '3d-MA'] = 0
eth.loc[1, '3d-MA'] = eth.loc[0, 'Close']
eth.loc[2, '3d-MA'] = 0.5 * (eth.loc[0, 'Close'] + eth.loc[1, 'Close'])

for i in range(3, len(eth)):
    eth.loc[i, '3d-MA'] = (1/3) * (eth.loc[i-1, 'Close'] + eth.loc[i-2, 'Close'] + eth.loc[i-3, 'Close'])

sol['Close'] = pd.to_numeric(sol['Close'], errors='coerce')
sol['3d-MA'] = np.nan

sol.loc[0, '3d-MA'] = 0
sol.loc[1, '3d-MA'] = sol.loc[0, 'Close']
sol.loc[2, '3d-MA'] = 0.5 * (sol.loc[0, 'Close'] + sol.loc[1, 'Close'])

for i in range(3, len(sol)):
    sol.loc[i, '3d-MA'] = (1/3) * (sol.loc[i-1, 'Close'] + sol.loc[i-2, 'Close'] + sol.loc[i-3, 'Close'])

bnb['Close'] = pd.to_numeric(bnb['Close'], errors='coerce')
bnb['3d-MA'] = np.nan

bnb.loc[0, '3d-MA'] = 0
bnb.loc[1, '3d-MA'] = bnb.loc[0, 'Close']
bnb.loc[2, '3d-MA'] = 0.5 * (bnb.loc[0, 'Close'] + bnb.loc[1, 'Close'])

for i in range(3, len(bnb)):
    bnb.loc[i, '3d-MA'] = (1/3) * (bnb.loc[i-1, 'Close'] + bnb.loc[i-2, 'Close'] + bnb.loc[i-3, 'Close'])
    
sol.head()

,index,Date,Close,High,Low,Open,Volume,3d-MA
0,2,2020-04-10,0.951054,1.3134870529174805,0.6941869854927063,0.8320050239562988,87364276,0.000000
1,3,2020-04-11,0.776819,1.0490729808807373,0.7650200128555298,0.9510539770126343,43862444,0.951054
2,4,2020-04-12,0.882507,0.9566699862480164,0.7624260187149048,0.7854480147361755,38736897,0.863936
3,5,2020-04-13,0.777832,0.8916029930114746,0.7739760279655457,0.8907600045204163,18211285,0.870127
4,6,2020-04-14,0.661925,0.7964720129966736,0.6281690001487732,0.7778319716453552,16747614,0.812386

All good, now to quickly do the other moving averages periods (10, 50 and 100 days)

In [17]:
# 10, 50 and 100 days moving averages

coins = [btc, eth, sol, bnb]

for coin in coins:
    
    coin['10d-MA'] = 0
    coin['50d-MA'] = 0
    coin['50d-MA'] = 0
    
    for day in range(1,len(coin)):
        somme = 0
        prev = min(10,day)
        for dayup in range(day-prev,day):
            somme += coin.loc[dayup, 'Close']
        coin.loc[day, '10d-MA'] = somme / prev

    for day in range(1,len(coin)):
        somme = 0
        prev = min(50,day)
        for dayup in range(day-prev,day):
            somme += coin.loc[dayup, 'Close']
        coin.loc[day, '50d-MA'] = somme / prev

    for day in range(1,len(coin)):
        somme = 0
        prev = min(100,day)
        for dayup in range(day-prev,day):
            somme += coin.loc[dayup, 'Close']
        coin.loc[day, '100d-MA'] = somme / prev
    

eth.tail()

/tmp/ipykernel_3475/3809419672.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '457.3340148925781' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  coin.loc[day, '10d-MA'] = somme / prev
/tmp/ipykernel_3475/3809419672.py:22: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '457.3340148925781' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  coin.loc[day, '50d-MA'] = somme / prev
/tmp/ipykernel_3475/3809419672.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '320.8840026855469' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  coin.loc[day, '10d-MA'] = somme / prev
/tmp/ipykernel_3475/3809419672.py:22: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '320.8840026855469' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  coin.loc[day, '50d-MA'] = somme / prev
/tmp/ipykernel_3475/3809419672.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.9510539770126344' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  coin.loc[day, '10d-MA'] = somme / prev
/tmp/ipykernel_3475/3809419672.py:22: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.9510539770126344' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  coin.loc[day, '50d-MA'] = somme / prev
/tmp/ipykernel_3475/3809419672.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1.990769982337952' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  coin.loc[day, '10d-MA'] = somme / prev
/tmp/ipykernel_3475/3809419672.py:22: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1.990769982337952' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  coin.loc[day, '50d-MA'] = somme / prev

,index,Date,Close,High,Low,Open,Volume,3d-MA,10d-MA,50d-MA,100d-MA
2686,2688,2025-03-18,1932.543457,1935.1820068359375,1872.5089111328125,1927.0057373046875,10170844746,1917.277547,1943.126819,2514.068840,2992.865690
2687,2689,2025-03-19,2057.749023,2068.764404296875,1928.24951171875,1932.5445556640625,20065206266,1915.660482,1916.230139,2489.141301,2972.134078
2688,2690,2025-03-20,1982.099854,2067.483642578125,1952.2432861328125,2057.951171875,13217865782,1972.431803,1920.454126,2468.754031,2955.524664
2689,2691,2025-03-21,1964.847534,1994.8914794921875,1937.2115478515625,1981.85302734375,9708125480,1990.797445,1932.548975,2446.136047,2939.027325
2690,2692,2025-03-22,1980.037842,2005.0411376953125,1964.27099609375,1964.9404296875,6117036512,2001.565470,1937.049231,2420.477397,2920.347581

And now to plot and visualise these new features, using candlesticks for the prices and line for the MA

In [18]:
# Importing necessary libs

import matplotlib
matplotlib.use('TkAgg')
import matplotlib.dates as mdates
import matplotlib.pyplot as plt
import pandas as pd
from mpl_finance import candlestick_ohlc

In [19]:
# Plotting for btc for the last 30 days

btc_data = btc[['Date', 'Open', 'High', 'Low', 'Close']].tail(30).copy()
btc_data['Date'] = pd.to_datetime(btc_data['Date'])
btc_data = btc_data.dropna(subset=['Date'])

btc_3d = btc['3d-MA'].tail(30).copy()
btc_10d = btc['10d-MA'].tail(30).copy()
btc_50d = btc['50d-MA'].tail(30).copy()
btc_100d = btc['100d-MA'].tail(30).copy()

btc_data['Open'] = pd.to_numeric(btc_data['Open'], errors='coerce')
btc_data['High'] = pd.to_numeric(btc_data['High'], errors='coerce')
btc_data['Low'] = pd.to_numeric(btc_data['Low'], errors='coerce')
btc_data['Close'] = pd.to_numeric(btc_data['Close'], errors='coerce')

btc_data['Date'] = btc_data['Date'].map(mdates.date2num)

ax = plt.subplot()
ax.xaxis_date()

btc_values = btc_data[['Date', 'Open', 'High', 'Low', 'Close']].values
candlestick_ohlc(ax, btc_values, width=0.6, colorup='g', colordown='r')

plt.plot(btc_data['Date'],btc_3d, color='blue', label='3D-MA')
plt.plot(btc_data['Date'],btc_10d, color='orange', label='10D-MA')
plt.plot(btc_data['Date'],btc_50d, color='green', label='50D-MA')
plt.plot(btc_data['Date'],btc_100d, color='red', label='100D-MA')

plt.legend()

plt.xticks(rotation=45)
plt.tight_layout()

plt.show()

In [20]:
# Plotting for eth for the last 20 days

eth_data = eth[['Date', 'Open', 'High', 'Low', 'Close']].tail(20).copy()

eth_data['Date'] = pd.to_datetime(eth_data['Date'])

eth_data = eth_data.dropna(subset=['Date'])

eth_3d = eth['3d-MA'].tail(20).copy()
eth_10d = eth['10d-MA'].tail(20).copy()
eth_50d = eth['50d-MA'].tail(20).copy()
eth_100d = eth['100d-MA'].tail(20).copy()

eth_data['Open'] = pd.to_numeric(eth_data['Open'], errors='coerce')
eth_data['High'] = pd.to_numeric(eth_data['High'], errors='coerce')
eth_data['Low'] = pd.to_numeric(eth_data['Low'], errors='coerce')
eth_data['Close'] = pd.to_numeric(eth_data['Close'], errors='coerce')


eth_data['Date'] = eth_data['Date'].map(mdates.date2num)

ax = plt.subplot()
ax.xaxis_date()

eth_values = eth_data[['Date', 'Open', 'High', 'Low', 'Close']].values

candlestick_ohlc(ax, eth_values, width=0.6, colorup='g', colordown='r')

plt.plot(eth_data['Date'],eth_3d, color='blue', label='3D-MA')
plt.plot(eth_data['Date'],eth_10d, color='orange', label='10D-MA')
plt.plot(eth_data['Date'],eth_50d, color='green', label='50D-MA')
plt.plot(eth_data['Date'],eth_100d, color='red', label='100D-MA')

plt.legend()

plt.xticks(rotation=45)
plt.tight_layout()

plt.show()

In [21]:
# Plotting sol for the last 25 days

sol_data = sol[['Date', 'Open', 'High', 'Low', 'Close']].tail(25).copy()

sol_data['Date'] = pd.to_datetime(sol_data['Date'])

sol_data = sol_data.dropna(subset=['Date'])

sol_3d = sol['3d-MA'].tail(25).copy()
sol_10d = sol['10d-MA'].tail(25).copy()
sol_50d = sol['50d-MA'].tail(25).copy()
sol_100d = sol['100d-MA'].tail(25).copy()

sol_data['Open'] = pd.to_numeric(sol_data['Open'], errors='coerce')
sol_data['High'] = pd.to_numeric(sol_data['High'], errors='coerce')
sol_data['Low'] = pd.to_numeric(sol_data['Low'], errors='coerce')
sol_data['Close'] = pd.to_numeric(sol_data['Close'], errors='coerce')


sol_data['Date'] = sol_data['Date'].map(mdates.date2num)

ax = plt.subplot()
ax.xaxis_date()

sol_values = sol_data[['Date', 'Open', 'High', 'Low', 'Close']].values

candlestick_ohlc(ax, sol_values, width=0.6, colorup='g', colordown='r')

plt.plot(sol_data['Date'],sol_3d, color='blue', label='3D-MA')
plt.plot(sol_data['Date'],sol_10d, color='orange', label='10D-MA')
plt.plot(sol_data['Date'],sol_50d, color='green', label='50D-MA')
plt.plot(sol_data['Date'],sol_100d, color='red', label='100D-MA')

plt.legend()

plt.xticks(rotation=45)
plt.tight_layout()

plt.show()

In [22]:
# Plotting bnb for the last 35 days

bnb_data = bnb[['Date', 'Open', 'High', 'Low', 'Close']].tail(35).copy()

bnb_data['Date'] = pd.to_datetime(bnb_data['Date'])

bnb_data = bnb_data.dropna(subset=['Date'])

bnb_3d = bnb['3d-MA'].tail(35).copy()
bnb_10d = bnb['10d-MA'].tail(35).copy()
bnb_50d = bnb['50d-MA'].tail(35).copy()
bnb_100d = bnb['100d-MA'].tail(35).copy()

bnb_data['Open'] = pd.to_numeric(bnb_data['Open'], errors='coerce')
bnb_data['High'] = pd.to_numeric(bnb_data['High'], errors='coerce')
bnb_data['Low'] = pd.to_numeric(bnb_data['Low'], errors='coerce')
bnb_data['Close'] = pd.to_numeric(bnb_data['Close'], errors='coerce')

bnb_data['Date'] = bnb_data['Date'].map(mdates.date2num)

ax = plt.subplot()
ax.xaxis_date()

bnb_values = bnb_data[['Date', 'Open', 'High', 'Low', 'Close']].values

candlestick_ohlc(ax, bnb_values, width=0.6, colorup='g', colordown='r')

plt.plot(bnb_data['Date'],bnb_3d, color='blue', label='3D-MA')
plt.plot(bnb_data['Date'],bnb_10d, color='orange', label='10D-MA')
plt.plot(bnb_data['Date'],bnb_50d, color='green', label='50D-MA')
plt.plot(bnb_data['Date'],bnb_100d, color='red', label='100D-MA')

plt.legend()

plt.xticks(rotation=45)
plt.tight_layout()

plt.show()

## **2. Relative strength index (RSI)**

RSI measures the strength of a price movement over a specific period. In this project, we'll work with 14 days.
- RSI < 30: The coin is oversold and a potential reversal to upside.
- RSI > 70: The coin is overbought and a potential reversal to downside.

In [23]:
def calculate_rsi(data, window=14):
    delta = data['Close'].diff()
    gain = (delta.where(delta > 0, 0)).rolling(window=window).mean()
    loss = (-delta.where(delta < 0, 0)).rolling(window=window).mean()
    rs = gain / loss
    rsi = 100 - (100 / (1 + rs))
    return rsi

In [33]:
btc['RSI'] = calculate_rsi(btc)
eth['RSI'] = calculate_rsi(eth)
sol['RSI'] = calculate_rsi(sol)
bnb['RSI'] = calculate_rsi(bnb)

In [35]:
plt.figure(figsize=(12, 6))
btc_data['RSI'] = pd.to_numeric(btc['RSI'], errors='coerce')

plt.plot(btc_data['Date'], btc_data['RSI'], label='RSI', color='blue')
plt.axhline(70, color='red', linestyle='--', label='Overbought (70)')
plt.axhline(30, color='green', linestyle='--', label='Oversold (30)')
plt.title('Relative Strength Index (RSI) for Bitcoin')
plt.legend()
plt.show()

In [36]:
plt.figure(figsize=(12, 6))
eth_data['RSI'] = pd.to_numeric(eth['RSI'], errors='coerce')

plt.plot(eth_data['Date'], eth_data['RSI'], label='RSI', color='blue')
plt.axhline(70, color='red', linestyle='--', label='Overbought (70)')
plt.axhline(30, color='green', linestyle='--', label='Oversold (30)')
plt.title('Relative Strength Index (RSI) for Ethereum')
plt.legend()
plt.show()

In [37]:
plt.figure(figsize=(12, 6))
sol_data['RSI'] = pd.to_numeric(sol['RSI'], errors='coerce')

plt.plot(sol_data['Date'], sol_data['RSI'], label='RSI', color='blue')
plt.axhline(70, color='red', linestyle='--', label='Overbought (70)')
plt.axhline(30, color='green', linestyle='--', label='Oversold (30)')
plt.title('Relative Strength Index (RSI) for Solana')
plt.legend()
plt.show()

In [38]:
plt.figure(figsize=(12, 6))
bnb_data['RSI'] = pd.to_numeric(bnb['RSI'], errors='coerce')

plt.plot(bnb_data['Date'], bnb_data['RSI'], label='RSI', color='blue')
plt.axhline(70, color='red', linestyle='--', label='Overbought (70)')
plt.axhline(30, color='green', linestyle='--', label='Oversold (30)')
plt.title('Relative Strength Index (RSI) for BNB')
plt.legend()
plt.show()

## **3. Moving average convergence divergence (MACD)**

MACD is a versatile indicator that combines momentum and trend-following characteristics. It helps identify:
- The direction of the trend (uptrend/downtrend).
- Potential trend reversals (crossovers of the MACD line and Signal line).
- Momentum strength (via the histogram).

In [39]:
def calculate_macd(data, short_window=12, long_window=26, signal_window=9):
    ema_short = data['Close'].ewm(span=short_window, adjust=False).mean()
    ema_long = data['Close'].ewm(span=long_window, adjust=False).mean()
    macd_line = ema_short - ema_long
    signal_line = macd_line.ewm(span=signal_window, adjust=False).mean()
    histogram = macd_line - signal_line
    return macd_line, signal_line, histogram

In [44]:
btc['MACD'], btc['Signal'], btc['Histogram'] = calculate_macd(btc)
eth['MACD'], eth['Signal'], eth['Histogram'] = calculate_macd(eth)
sol['MACD'], sol['Signal'], sol['Histogram'] = calculate_macd(sol)
bnb['MACD'], bnb['Signal'], bnb['Histogram'] = calculate_macd(bnb)

sol.tail()

,index,Date,Close,High,Low,Open,Volume,3d-MA,10d-MA,50d-MA,100d-MA,RSI,MACD,Signal,Histogram,Middle Band,Upper Band,Lower Band
1803,1805,2025-03-18,125.312698,128.16134643554688,121.94453430175781,128.16134643554688,2534317858,130.021451,128.018143,171.543974,191.749647,35.688991,-11.971151,-13.483097,1.511946,136.454274,163.003904,109.904645
1804,1806,2025-03-19,135.572510,135.92552185058594,124.29732513427734,125.31228637695312,3539287974,126.488172,126.855206,169.348739,190.636051,43.091343,-10.746594,-12.935796,2.189203,136.351860,162.898345,109.805375
1805,1807,2025-03-20,127.497185,135.77261352539062,126.85357666015625,135.57415771484375,2469659459,129.682973,127.768913,167.516109,189.818361,40.396592,-10.308900,-12.410417,2.101517,135.325218,161.556363,109.094074
1806,1808,2025-03-21,128.430313,129.95623779296875,124.97737121582031,127.49885559082031,2370317364,129.460798,128.689457,165.507155,188.955087,43.208195,-9.774059,-11.883146,2.109086,134.562949,160.658056,108.467841
1807,1809,2025-03-22,128.484985,131.57618713378906,127.93255615234375,128.429931640625,1442831196,130.500003,129.006094,163.295298,187.964922,44.518298,-9.239278,-11.354372,2.115094,132.062423,148.064756,116.060090

In [46]:
plt.figure(figsize=(12, 6))
btc_data['MACD'] = pd.to_numeric(btc['MACD'], errors='coerce')
btc_data['Signal'] = pd.to_numeric(btc['Signal'], errors='coerce')
btc_data['Histogram'] = pd.to_numeric(btc['Histogram'], errors='coerce')

plt.plot(btc_data['Date'], btc_data['MACD'], label='MACD', color='blue')
plt.plot(btc_data['Date'], btc_data['Signal'], label='Signal', color='orange')
plt.fill_between(btc_data['Date'], btc_data['Histogram'], 0, alpha=0.5, color='gray')
plt.title('MACD and Signal Line')
plt.legend()

plt.show()

## **4. Bollinger bands**

Bollinger Bands measure price volatility and provide dynamic support/resistance levels. They adapt to market conditions by expanding during volatile periods and contracting during calm periods.

In [41]:
def calculate_bollinger_bands(data, window=20, num_std=2):
    sma = data['Close'].rolling(window=window).mean()
    std = data['Close'].rolling(window=window).std()
    upper_band = sma + (num_std * std)
    lower_band = sma - (num_std * std)
    return sma, upper_band, lower_band

In [43]:
btc['Middle Band'], btc['Upper Band'], btc['Lower Band'] = calculate_bollinger_bands(btc)
eth['Middle Band'], eth['Upper Band'], eth['Lower Band'] = calculate_bollinger_bands(eth)
sol['Middle Band'], sol['Upper Band'], sol['Lower Band'] = calculate_bollinger_bands(sol)
bnb['Middle Band'], bnb['Upper Band'], bnb['Lower Band'] = calculate_bollinger_bands(bnb)

bnb.tail()

,index,Date,Close,High,Low,Open,Volume,3d-MA,10d-MA,50d-MA,100d-MA,RSI,MACD,Signal,Histogram,Middle Band,Upper Band,Lower Band
2686,2688,2025-03-18,628.134460,642.8888549804688,622.400146484375,631.3464965820312,2175151767,617.688436,582.057300,620.688727,659.500950,60.252579,-4.226628,-12.637450,8.410822,590.957507,642.877416,539.037599
2687,2689,2025-03-19,619.257507,628.1376342773438,605.617919921875,628.1344604492188,2006233746,620.571228,585.562659,619.655549,658.349338,55.025457,-2.408343,-10.591628,8.183286,591.664200,644.767252,538.561148
2688,2690,2025-03-20,629.942444,637.2163696289062,616.9637451171875,619.2509765625,2327219768,626.251526,592.030365,618.812208,657.642670,57.509710,-0.103955,-8.494094,8.390139,593.788742,649.517203,538.060281
2689,2691,2025-03-21,634.607788,637.1900634765625,625.8570556640625,629.9424438476562,1472201311,625.778137,601.812421,618.057343,657.172265,59.109970,2.074826,-6.380310,8.455136,595.143555,653.530757,536.756353
2690,2692,2025-03-22,626.574402,635.7655029296875,624.1967163085938,634.5969848632812,1182741851,627.935913,610.125745,617.198427,656.400229,57.274010,3.117363,-4.480775,7.598138,595.325470,654.098667,536.552273

In [ ]:
plt.figure(figsize=(12, 6))
btc_data['MACD'] = pd.to_numeric(btc['MACD'], errors='coerce')
btc_data['Signal'] = pd.to_numeric(btc['Signal'], errors='coerce')
btc_data['Histogram'] = pd.to_numeric(btc['Histogram'], errors='coerce')

plt.plot(btc_data['Date'], btc_data['MACD'], label='MACD', color='blue')
plt.plot(btc_data['Date'], btc_data['Signal'], label='Signal', color='orange')
plt.fill_between(btc_data['Date'], btc_data['Histogram'], 0, alpha=0.5, color='gray')
plt.title('MACD and Signal Line')
plt.legend()

plt.show()